doctype html
html(ng-app="travellapp")
  head
    title(ng-bind="title")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/scripts/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='/scripts/lodash/index.js')
    script(src='/scripts/angular/angular.min.js')
    script(src='/scripts/angular-simple-logger/dist/angular-simple-logger.min.js')
    script(src='/scripts/angular-route/angular-route.min.js')
    script(src='/scripts/angular-resource/angular-resource.min.js')
    script(src='/scripts/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='/scripts/ng-file-upload/dist/ng-file-upload-shim.min.js')
    script(src='/scripts/ng-file-upload/dist/ng-file-upload.min.js')
    script(src='/javascripts/travellapp.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/persons.js')
    script(src='/javascripts/routes.js')
  body
    include navbar.html
    div.container
      div.row
        block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/scripts/bootstrap/dist/js/bootstrap.min.js')
