doctype html
html(ng-app="travellapp")
  head
    title(ng-bind="title")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(href='/scripts/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/lodash/index.js')
    script(src='/scripts/angular/angular.min.js')
    script(src='/scripts/angular-simple-logger/dist/angular-simple-logger.min.js')
    script(src='/scripts/angular-route/angular-route.min.js')
    script(src='/scripts/angular-resource/angular-resource.min.js')
    script(src='/scripts/ng-file-upload/dist/ng-file-upload-shim.min.js')
    script(src='/scripts/ng-file-upload/dist/ng-file-upload.min.js')
    script(src='/scripts/angular-ui-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/scripts/ngmap/build/scripts/ng-map.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJOLfo5eFbcn_lBz9i7YNzvgwTazgLdMU&signed_in=true&libraries=places&callback=angular.noop")
    script(src='/scripts/marker-spider/dist/oms.min.js')
    script(src='/javascripts/travellapp.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/persons.js')
    script(src='/javascripts/journey.js')
  body
    include navbar.html
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/scripts/bootstrap/dist/js/bootstrap.min.js')
