<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/journeys/overview">THT <span class="tht-red">Bouw</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="NavCtrl">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/journeys/overview')}"><a href="#/journeys/overview">Podróż</a></li>
                <li ng-class="{ active: isActive('/persons/excel')}"><a href="#/persons/excel">Pomoc</a></li>
                <li ng-class="{ active: isActive('/')}"><a href="#/">Szukaj</a></li>
                <li ng-show="isAdmin"  ng-class="{ active: isActive('/users')}"><a href="#/users">Użytkownicy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="LogoutCtrl" ng-switch>
                <li ng-class="{ active: isActive('/profile')}"><a href="#/profile">Profila</a></li>
                <li ng-show="!isLoggedIn"><a href="#/login">Zaloguj się</a></li>
                <li ng-show="isLoggedIn"><a ng-click='logout()' href="">Wyloguj</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>