<div class="container">
    <div class="tht-header">
        <h1>Zjazd {{ journey.name }} </h1>

        <p>{{ journey.startDate | date:'dd/MM/yyyy' }}</p>
    </div>

    <div class="row journey-navbar">
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/persons/{{journey._id}}"><span class="icon-Mens icon"></span></a>

            <p>Pracowników</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/vehicles/{{journey._id}}"><span class="icon-Car-2 icon"></span></a>

            <p>Samochody</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/plan/{{journey._id}}"><span class="icon-Map2 icon"></span></a>

            <p>Mapa</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <span class="icon-Notepad-2 icon active-icon"></span>

            <p>Przegląd</p>
        </div>
    </div>
    <div class="row">

    <div class="col-md-2">

        <h2 class="tht-header">Samochody</h2>

        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="vehicle in vehicles" ng-click="vehicleClick($index)" ng-class="{active: $index == selected}"
                role="presentation"><a href="">{{ vehicle.licenceplate }}</a></li>
        </ul>
    </div>
    <div class="col-md-offset-1 col-md-9">
        <h2 class="tht-header">{{ selectedVehicle.licenceplate }}</h2>
        <h4>Dystans: {{selectedVehicle.distance / 1000}} km</h4>
        <h4>Czas podróży: &plusmn;{{ duration }}</h4>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Nazwisko</th>
                <th>Adres</th>
                <th>Komentarz</th>
            </tr>
            <tr>
                <td>Kierowca</td>
                <td>{{selectedVehicle.owner.firstname + ' ' + selectedVehicle.owner.lastname}}</td>

                <td>{{selectedVehicle.owner.street}} {{selectedVehicle.owner.streetnumber}},
                    {{selectedVehicle.owner.city}} {{selectedVehicle.owner.postalcode}}
                </td>
                <td>{{selectedVehicle.owner.remark}}</td>
            </tr>
            <tr ng-repeat="passenger in selectedVehicle.passengers">
                <td><span ng-show="!passenger.canDrive">Pasażer</span><span
                        ng-show="passenger.canDrive">2-gi kierowca</span></td>
                <td>{{passenger.firstname + ' ' + passenger.lastname}}</td>
                <td>{{passenger.street}} {{passenger.streetnumber}}, {{passenger.city}} {{passenger.postalcode}}</td>
                <td>{{passenger.remark}}</td>
            </tr>
        </table>
    </div>
    </div>
<div class="row tht-footer">
    <div class="col-md-2">
        <a class="btn btn-default pull-left" href="#/journeys/plan/{{journey._id}}">Z powrotem</a>
    </div>
    <div class="col-md-offset-8 col-md-1">
        <button class="btn btn-primary" data-toggle="modal" data-target="#pdfTextModal">Pdf Header</button>
    </div>
    <div class="col-md-1">
        <a class="btn btn-primary" href="/journeys/toPdf/{{journey._id}}"><span class="icon-File-Download"></span> PDF</a>
    </div>
    </div>

    <div class="modal fade" id="pdfTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change pdf text</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="pdfText">Text: </label>
                            <textarea class="form-control" id="pdfText" ng-model="journey.pdfText"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="updatePdfText()">Wijzigen</button>
                </div>
            </div>
        </div>
    </div>

</div>