<div class="col-lg-12">
    <h1>Reis {{ journey.name }} {{ journey.startDate | date:'dd/MM/yyyy' }} terug {{ journey.endDate | date:'dd/MM/yyyy' }}</h1>
</div>
<div class="col-lg-3">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="vehicle in vehicles" ng-click="vehicleClick($index)" ng-class="{active: $index == selected}" role="presentation"><a href="">{{ vehicle.licenceplate }}</a></li>
    </ul>
</div>
<div class="col-lg-9">
    <h2>{{ selectedVehicle.licenceplate }}</h2>
    <table class="table">
        <tr>
            <th></th>
            <th>Naam</th>
            <th>Adres</th>
        </tr>
        <tr>
            <th>Chauffeur</th>
            <td>{{selectedVehicle.owner.firstname + ' ' + selectedVehicle.owner.lastname}}</td>

            <td>{{selectedVehicle.owner.street}} {{selectedVehicle.owner.streetnumber}}, {{selectedVehicle.owner.city}} {{selectedVehicle.owner.postalcode}}</td>
        </tr>
        <tr ng-repeat="passenger in selectedVehicle.passengers">
            <th><span ng-show="!passenger.canDrive">Passagier</span><span ng-show="passenger.canDrive">2de chauffeur</span></th>
            <td>{{passenger.firstname + ' ' + passenger.lastname}}</td>
            <td>{{passenger.street}} {{passenger.streetnumber}}, {{passenger.city}} {{passenger.postalcode}}</td>
        </tr>
    </table>
</div>
<div class="col-lg-12">
    <a class="btn btn-default pull-left" href="#/journeys/plan/{{journey._id}}" >Vorige</a>
</div>