<style>
    .angucomplete-dropdown {
        overflow-y: auto;
        max-height: 200px;
    }
</style>
<div class="container">

    <div class="tht-header">
        <h1>Zjazd {{ journey.name }} </h1>

        <p>{{ journey.startDate | date:'dd/MM/yyyy' }}</p>
    </div>


    <div class="row journey-navbar">
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/persons/{{journey._id}}"><span class="icon-Mens icon"></span></a>

            <p>Pracowników</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/vehicles/{{journey._id}}"><span class="icon-Car-2 icon"></span></a>

            <p>Samochody</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <span class="icon-Map2 icon active-icon"></span>

            <p>Mapa</p>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
            <a href="#/journeys/lastoverview/{{journey._id}}"><span class="icon-Notepad-2 icon"></span></a>

            <p>Przegląd</p>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="tht-header">Samochód</h2>
                    <!--<button class="btn btn-primary" ng-click="autoRoute()">Auto calculate</button>-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedVehicle"
                                        ng-options="vehicle.licenceplate for vehicle in vehicles"
                                        ng-change="vehicleChange()"></select>
                            </div>
                        </div>
                    </div>

                    <p>Miejsca siedzące: {{ selectedVehicle.passengersNr }}</p>

                    <p>Marka: {{ selectedVehicle.brand }}</p>

                    <p>Rodzaj: {{ selectedVehicle.type }}</p>

                    <p ng-show="selectedVehicle.owner">Kierowca: {{ selectedVehicle.owner.firstname + ' ' +
                        selectedVehicle.owner.lastname}} <button class="btn btn-default" data-toggle="modal" data-target="#remarkModal" ng-click="remarkPerson = selectedVehicle.owner">Komentarz</button></p>
                    <table class="table">
                        <tr ng-repeat="passenger in selectedVehicle.passengers">
                            <td>{{$index + 1}}.</td>
                            <td>{{ passenger.firstname + ' ' + passenger.lastname }}</td>
                            <td>
                                <button class="btn btn-danger" ng-disabled="canDisable" ng-click="removePassenger(passenger._id)">X</button>
                            </td>
                            <td>
                                <button class="btn btn-default" data-toggle="modal" data-target="#remarkModal"
                                        ng-click="giveRemark($index)">Komentarz
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Wybrany</h2>

                    <p>{{ selectedPerson.firstname }} {{ selectedPerson.lastname }}</p>

                    <p>{{ selectedPerson.city }} {{ selectedPerson.postalcode }}</p>

                    <p>{{ selectedPerson.street }} {{ selectedPerson.streetnumber }}</p>

                    <p ng-show="selectedPerson.canDrive">Prawo jazdy</p>
                    <button class="btn btn-primary canDisable"
                            ng-show="selectedPerson && selectedPerson._id != selectedVehicle.owner._id && addShow && !selectedPerson.isPas"
                            ng-click="addToVehicle()">Dodać do samochodu
                    </button>
                    <button class="btn btn-danger canDisable" ng-show="selectedPerson && deleteShow"
                            ng-click="removePassenger(selectedPerson._id)">Usuń z samochodu
                    </button>
                    <button class="btn btn-success canDisable" data-toggle="modal" data-target="#vehicleModal" ng-show="selectedPerson && emptyVehicles.length > 0 && !selectedPerson.isPas && selectedPerson.canDrive && !selectedPerson.vehicle">
                        Geef een auto
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <form class="form-inline tht-header">
                        <div class="form-group">
                            <div angucomplete-alt
                                 id="autoPerson"
                                 placeholder="Szukanie"
                                 pause="100"
                                 selected-object="personMatch"
                                 local-data="persons"
                                 search-fields="fullname"
                                 title-field="fullname"
                                 minlength="1"
                                 input-class="form-control form-control-small"
                                 match-class="highlight"
                                 auto-match="true">
                            </div>
                        </div>
                        <button ng-click="clearInput()" class="btn btn-primary">Wymazać</button>
                    </form>

                </div>
            </div>

            <ng-map zoom="6" style="height:600px">
                <marker ng-repeat="marker in markers" position="[{{marker.lat}},{{marker.lng}}]"
                        z-index="{{marker.zIndex}}"
                        on-click="onMarkerClick({{marker.pos}})" title="{{marker.title}}" icon="{{marker.icon}}">
                </marker>
            </ng-map>
        </div>
    </div>
</div>

</div>
<div class="container">

    <div class="row tht-footer">
        <div class="col-lg-12">
            <a class="btn btn-default pull-left" href="#/journeys/vehicles/{{journey._id}}">Z powrotem</a>
            <a href="#/journeys/lastoverview/{{journey._id}}" class="btn btn-default pull-right">Następny</a>
        </div>
    </div>

    <div class="modal fade" id="remarkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edytuj komentarz</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="remark">Komentarz: </label>
                            <textarea class="form-control" id="remark" ng-model="remarkPerson.remark"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <button class="btn btn-primary canDisable" data-dismiss="modal" ng-click="updateRemark()">Wijzigen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="myVehicleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myVehicleModalLabel">Opmerking wijzigen</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control" ng-model="selectedEmptyVehicle"
                            ng-options="vehicle.licenceplate for vehicle in emptyVehicles"></select>

                    <p>Passagiers: {{selectedEmptyVehicle.passengersNr}}</p>

                    <p>Merk: {{selectedEmptyVehicle.brand}}</p>

                    <p>Type: {{selectedEmptyVehicle.type}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <button class="btn btn-primary canDisable" data-dismiss="modal" ng-click="giveVehicle()">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
</div>