<style type="text/css">
    .angular-google-map-container { height:600px; }
</style>
<h1>Reis</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-12">
            <h2>Auto</h2>
            <select ng-model="selectedVehicle" ng-options="vehicle.licenceplate for vehicle in vehicles"></select>
            <p>Plaatsen: {{ selectedVehicle.passengers }}</p>
            <p>Merk: {{ selectedVehicle.brand }}</p>
            <p>Type: {{ selectedVehicle.type }}</p>
            <ol>
                <li ng-repeat="passenger in passengers">{{ passenger.firstname + ' ' + passenger.lastname }}</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <h2>Geselecteerd</h2>
            <p>{{ selectedPerson.firstname }} {{ selectedPerson.lastname }}</p>
            <p>{{ selectedPerson.city }} {{ selectedPerson.postalcode }}</p>
            <p>{{ selectedPerson.street }} {{ selectedPerson.streetnumber }}</p>
            <p ng-show="selectedPerson.canDrive">Heeft een rijbewijs</p>
            <button class="btn btn-primary" ng-show="selectedPerson" ng-click="addToVehicle()">Toevoegen aan auto</button>
        </div>
    </div>
    <div class="col-lg-8">
<ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="theMarkers" coords="'self'" click="onClick" icon="'icon'">
    </ui-gmap-markers>
</ui-gmap-google-map>
    </div>
</div>