<style type="text/css">
    .angular-google-map-container { height:600px; }
    .custom-image {
        position: absolute;
        display: block;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }
</style>
<h1>Reis {{ journey.name }} {{ journey.startDate | date:'dd/MM/yyyy' }} terug {{ journey.endDate | date:'dd/MM/yyyy' }}</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-12">
            <h2>Auto</h2>
            <select class="form-control" ng-model="selectedVehicle" ng-options="vehicle.licenceplate for vehicle in vehicles" ng-change="vehicleChange()"></select>
            <p>Plaatsen: {{ selectedVehicle.passengersNr }}</p>
            <p>Merk: {{ selectedVehicle.brand }}</p>
            <p>Type: {{ selectedVehicle.type }}</p>
            <p ng-show="selectedVehicle.owner">Chauffeur: {{ selectedVehicle.owner.firstname + ' ' + selectedVehicle.owner.lastname}}</p>
            <table class="table">
                <tr ng-repeat="passenger in selectedVehicle.passengers">
                    <td>{{$index + 1}}.</td>
                    <td>{{ passenger.firstname + ' ' + passenger.lastname }}</td>
                    <td><button class="btn btn-danger">X</button></td>
                    <td><button class="btn btn-default">Notitie</button></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12">
            <h2>Geselecteerd</h2>
            <p>{{ selectedPerson.firstname }} {{ selectedPerson.lastname }}</p>
            <p>{{ selectedPerson.city }} {{ selectedPerson.postalcode }}</p>
            <p>{{ selectedPerson.street }} {{ selectedPerson.streetnumber }}</p>
            <p ng-show="selectedPerson.canDrive">Heeft een rijbewijs</p>
            <button class="btn btn-primary" ng-show="selectedPerson && selectedPerson._id != selectedVehicle.owner._id" ng-click="addToVehicle()">Toevoegen aan auto</button>
        </div>
    </div>
    <div class="col-lg-8">
        <ng-map zoom="6" style="height:600px">
            <marker ng-repeat="marker in markers" position="[{{marker.lat}},{{marker.lng}}]" on-click="onMarkerClick({{marker.pos}})" title="{{marker.title}}" icon="{{marker.icon}}" >
            </marker>
            <directions
                    draggable="true"
                    preserve-viewport="true"
                    suppress-markers="true"
                    travel-mode="DRIVING"
                    origin="{{origin}}"
                    waypoints="{{wayPoints}}"
                    destination="{{destination}}">
            </directions>
        </ng-map>
    </div>
    <div class="col-lg-12">
        <a class="btn btn-default pull-left" href="#/journeys/vehicles/{{journey._id}}" >Vorige</a><a href="#/journeys/plan/{{journey._id}}" class="btn btn-default pull-right">Volgende</a>
    </div>
</div>