<div class="container">
    <div class="tht-header">
        <h1>Zjazd {{ journey.name }} </h1>

        <p>{{ journey.startDate | date:'dd/MM/yyyy' }}</p>
    </div>

    <div class="row journey-navbar">
        <div class="col-md-3 text-center">
            <a href="#/journeys/persons/{{journey._id}}"><span class="icon-Mens icon"></span></a>

            <p>Pracowników</p>
        </div>
        <div class="col-md-3 text-center">
            <span class="icon-Car-2 icon  active-icon"></span>

            <p>Samochody</p>
        </div>
        <div class="col-md-3 text-center">
            <a href="#/journeys/plan/{{journey._id}}"><span class="icon-Map2 icon"></span></a>

            <p>Mapa</p>
        </div>
        <div class="col-md-3 text-center">
            <a href="#/journeys/lastoverview/{{journey._id}}"><span class="icon-Notepad-2 icon"></span></a>

            <p>Przegląd</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">


        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <h2 class="tht-header">Import</h2>

            <div class="form-group">
                <label for="import">Import z poprzedniego zjazdu</label>
                <select class="form-control" ng-model="selectedJourney" id="import"
                        ng-options="journey.name for journey in journeys"></select>

            </div>
            <button class="btn btn-primary" ng-click="import()">Import</button>


        </div>
        <div class="col-md-offset-1 col-md-8">

            <h2 class="tht-header">Samochody</h2>

            <form class="form-inline">
                <div class="form-group">
                    <input id="search" class="form-control" ng-model="searchText" type="text"
                           ng-change="search()" placeholder="Szukanie"/>
                </div>
                <button class="btn btn-primary" ng-click="searchText = '';search()">Wymazać</button>
                <button class="btn btn-primary" data-toggle="modal"
                        ng-click="vehicle = null; vehicleText = 'Toevoegen'; isUpdate=false"
                        data-target="#vehicleModal">Dodaj samochód</button>
            </form>

            <table class="table table-bordered margin-top-20">
                <thead>
                <tr>
                    <th>Tablica rejestracyjna</th>
                    <th>Kierowca</th>
                    <th>Miejsca siedzące</th>
                    <th>Marka</th>
                    <th>Rodzaj</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="vehicle in vehicles">
                    <td><a href="" ng-click="update(vehicle)" data-toggle="modal" data-target="#vehicleModal">{{
                        vehicle.licenceplate }}</a></td>
                    <td><a href="" data-toggle="modal" data-target="#ownerModal"
                           ng-click="vehicleClick($index, vehicle.owner)"><span ng-show="vehicle.owner">{{ vehicle.owner.firstname }} {{ vehicle.owner.lastname}}</span><span
                            ng-show="!vehicle.owner">Wybierz Kierowca</span></a></td>
                    <td>{{ vehicle.passengersNr }}</td>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.type }}</td>
                    <!--<td><button ng-click="edit(journey._id)" class="btn btn-default">Wijzigen</button></td>-->
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="totalItems" items-per-page="15" ng-model="currentPage"
                            ng-change="pageChanged()"></uib-pagination>

        </div>
    </div>

    <div class="row tht-footer">
        <div class="col-lg-1">
            <a class="btn btn-default pull-left" href="#/journeys/persons/{{journey._id}}">Z powrotem</a>
        </div>
        <div class="col-lg-offset-10 col-lg-1">
            <a href="#/journeys/plan/{{journey._id}}" class="btn btn-default pull-right">Następny</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Samochód {{ vehicleText }}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="licenceplate">Tablica rejestracyjna</label>
                            <input class="form-control" type="text" id="licenceplate"
                                   ng-model="vehicle.licenceplate"/>
                        </div>
                        <div class="form-group">
                            <label for="passengers">Miejsca siedzące</label>
                            <input class="form-control" type="text" id="passengers"
                                   ng-model="vehicle.passengersNr"/>
                        </div>
                        <div class="form-group">
                            <label for="brand">Marka</label>
                            <input class="form-control" type="text" id="brand" ng-model="vehicle.brand"/>
                        </div>
                        <div class="form-group">
                            <label for="brand">Rodzaj</label>
                            <input class="form-control" type="text" id="type" ng-model="vehicle.type"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger pull-left" data-dismiss="modal" ng-show="isUpdate"
                            ng-click="delete()">Usunąć
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                        Zamknąć
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()">Dodaj <!--{{
                        vehicleText }}-->
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Verantwoordelijke kiezen</h4>
                </div>
                <div class="modal-body">
                    <!--<p>Tablica rejestracyjna: </p>-->

                    <form class="form-inline">
                        <div class="form-group">
                            <input id="searchPersons" class="form-control" ng-model="searchPersonText" type="text" ng-change="searchPerson()" placeholder="Szukanie"/>
                        </div>
                        <button class="btn btn-primary" ng-click="searchPersonText = '';searchPerson()">Wymazać</button>
                    </form>

                    <table class="table table-bordered">
                        <tr>
                            <th colspan="2">Nazwisko</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="person in persons">
                            <td>{{ person.firstname }}</td>
                            <td>{{ person.lastname }}</td>
                            <td>
                                <button ng-click="pick($index)" class="btn btn-primary">Wybierać</button>
                            </td>
                        </tr>
                    </table>
                    <uib-pagination total-items="totalPersonItems" ng-model="currentPersonPage"
                                    ng-change="pagePersonChanged()"></uib-pagination>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger pull-left" data-dismiss="modal" ng-show="hasOwner"
                            ng-click="removeOwner()">Usunąć
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknąć</button>
                </div>
            </div>
        </div>
    </div>
</div>