* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight:bold;
    font-size:2em;
}

h2 {
    font-size:1.3em;
    font-weight:bold;
}

.margin-top-20 {
    margin-top:20px;
}

.navbar-brand {
    font-weight:bold;
}

.tht-footer {
    padding:40px 0px 40px 0px;
}

.tht-red {
    color:#e72b23;
}

.tht-header {
    margin-bottom:30px;
}

.icon {
    font-size:2.7em;
    font-weight:bold;
}

.active-icon {
    color:#e72b23;
}

.journey-navbar {
    margin-top:30px;
    margin-bottom:30px;
}

.journey-navbar a {
    color:#333;
    text-decoration:none;
}

.journey-navbar p {
    margin-top:10px;
    font-size:1em;
}

.journey-navbar .icon:hover {
    text-decoration: none;
    color:#e72b23;
}

.journey-navbar a:hover {
    text-decoration: none;
    color:#e72b23;
}

.journey-navbar a:visited {
    text-decoration: none;
    color:#333;
}

.journey-navbar a:active {
    text-decoration: none;
    color:#333;
}

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777; /*#777;*/
    font-size:1em;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e72b23;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F3F3F3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
