<div class="col-lg-8">
    <h1>Inloggen</h1>
        <div ng-show="error" class="alert alert-danger">{{ errorMessage }}</div>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <label for="username">Email:</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="loginForm.username" required>
            </div>
            <div class="form-group">
                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="wachtwoord" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-disabled="disabled">Inloggen</button>
            </div>
        </form>
</div>