<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Moj Profila</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div ng-show="error" class="alert alert-danger">{{ errorMessage }}</div>

            <form class="form" ng-submit="change()">
                <div class="form-group">
                    <label for="oldPassword">Stary hasło</label>
                    <input class="form-control" type="password" id="oldPassword" ng-model="newPassword1" required
                    />
                </div>
                <div class="form-group">
                    <label for="newPassword">Nowy hasło</label>
                    <input class="form-control" type="password" id="newPassword" ng-model="newPassword2" required
                    />
                </div>

                <button type="button" class="btn btn-primary">Edytuj</button>

            </form>
        </div>
    </div>



</div>
